:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-text-color-dark-theme: #ffffff;
  --secondary-text-color-dark-theme: rgba(255, 255, 255, 0.6);
  --hover-color: #2196f3;
}
body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

.list,
.list-btn,
.list-portfolio {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ======= HEADER ======= */
.web-logo {
  color: #2196f3;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}
.nav-list-link {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--hover-color);
}

.mail-devstudio {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.mail-devstudio:hover,
.mail-devstudio:focus {
  color: var(--hover-color);
}

.contact-number {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
.contact-number:hover,
.contact-number:focus {
  color: var(--hover-color);
}
/* ======= HEADER END ======= */
/* ======= HERO ======== */
.hero {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-text-color-dark-theme);
}
.btn-order {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  color: var(--primary-text-color-dark-theme);
}
.btn-order:hover,
.btn-order:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-section {
  background: #2f303a;
}
/* ======= HERO END ======== */
/* ======= FEATURES ======= */
.features-title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.features-text {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* ======= FEATURES END ======= */
/* ======= WORK-EXAMEPLS ======= */
.work-examples-title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
/* ======= WORK-EXAMEPLS END ======= */
/* ======= TEAM ======= */
.team-section {
  background: #f5f4fa;
}
.team-title {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.name-member {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.position {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
/* ======= TEAM END ======= */
/* ======= FOOTER ======= */
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-text-color-dark-theme);
}
.footer-address {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--primary-text-color-dark-theme);
}
.footer-mail,
.footer-tel {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color-dark-theme);
}
.footer-address:hover,
.footer-address:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--hover-color);
}
/* ======= PORTFOLIO ======= */
.portfolio-btn {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background: var(--hover-color);
}
.title-work {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.description-work {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}
